<div class="footer-heading wrapper">
    <div class="footer-nav">
        <ul class="footer-nav__item">
            <li class="footer-nav__title">{{footerNav.titleAbout}}</li>
            {{#each footerNav.about}}
                <li class="footer-nav__link"><a href="">{{this}}</a></li>
            {{/each}}
        </ul>
        <ul class="footer-nav__item">
            <li class="footer-nav__title">{{portfolio}}</li>
            {{#each footerNav.listPortfolio}}
                <li class="footer-nav__link"><a href="">{{this}}</a></li>
            {{/each}}
        </ul>
        <ul class="footer-nav__item">
            <li class="footer-nav__title">{{aboutBlinds}}</li>
            {{#each footerNav.allAboutBlinds}}
                <li class="footer-nav__link"><a href="">{{this}}</a></li>
            {{/each}}
        </ul>
        <ul class="footer-nav__item">
            <li class="footer-nav__title">{{contact}}</li>
            {{#each footerNav.listContact}}
                <li class="footer-nav__link">{{this}}</li>
            {{/each}}
        </ul>
    </div>
    <form class="footer-form">
        <span class="footer-form__title">{{formTitle}}</span>
        <input type="text" class="footer-form__input" placeholder="Имя">
        <input type="text" class="footer-form__input" placeholder="E-mail">
        <a href="#" class="footer-form__send team__order">{{buttonSend}}</a>
    </form>
</div>
<div class="footer-text wrapper">
   <span>{{footerText}}</span>
</div>
<div class="footer-copyright">&#169; 2017</div>